---
layout: default
title: Home
---

<h2 class="text-center">Welcome to Reactive World</h2>
<p class="text-center">Website about Reactive Programing written on non-reactive website with static pages.</p>
<hr>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
	{% include post_frame.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% for post in site.posts %}
{% endfor %}
