---
---

@import "{{ site.theme }}";

.nav-title {
	margin: 10px 0 0 0;
}

#header nav li a {
	color: #252525;
	border: 1px solid #897113;
	background-color: #ffcc00;
}

#header nav li a:hover{
	background-color: #ffee77;
}

.left {
	float: left;
}

.text-center {
	text-align: center;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.footer-text {
	margin-top: -15px;
	font-size: 11px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #696969;
}

#share-buttons {
	padding-top: 20px;
}

.comments {
	padding-top: 30px;
}

.post-title {
	padding-bottom: 25px;
}

.post-content {
	text-align: justify;
}
